body {
  background-color: darkslateblue;
  background-image: url(694013865f8d3331276357f0a7d807de.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  color: #FFF;
  background-color: #19B3E6;
  font-size: 1.8em; }

